@*
    Enrutador del panel. La superficie por defecto usa MainLayout (menu lateral +
    barra superior). Las superficies de acceso declaran su propio @@layout.
*@
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1 class="mud-typography mud-typography-h4">Pagina no encontrada</h1>
            <MudText>La superficie solicitada no existe.</MudText>
        </LayoutView>
    </NotFound>
</Router>
